
<div class="form-wrapper">
  <app-task-form (submitTask)="addTask($event)"></app-task-form>
</div>

<div class="lists">
  <app-task-list
    (saveEditedTask)="updateTask($event, 'todo')"
    (complete)="transferTask($event, 'todo', 'done')"
    (delete)="deleteTask($event, 'todo')"
    [tasks]="todo"
    [listType]="'todo'"
  ></app-task-list>

  <app-task-list
    (saveEditedTask)="updateTask($event, 'done')"
    (unComplete)="transferTask($event, 'done', 'todo')"
    (delete)="deleteTask($event, 'done')"
    [tasks]="done"
    [listType]="'done'"
  ></app-task-list>
</div>
